<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日報登録 - 日報管理アプリ</title>
	<link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

    <h1>日報の新規登録</h1>

    <div class="form-container">
        <!-- th:object で Javaから届いた空のオブジェクトを指定 -->
		<form th:action="@{/daily-log/register}"
		      th:object="${form}"
		      method="post">

		    <!-- ■ 日付 -->
		    <div>
		        <label>勤務日</label>
		        <input type="date" th:field="*{workDate}" required>
		    </div>

		    <br>

		    <!-- ■ カテゴリ一覧 -->
		    <table border="1">

		        <tr>
					<th>No</th>
					<th>カテゴリ</th>
		            <th>所要時間</th>
		        </tr>

		        <tr th:each="item, stat : *{items}">

		            <!-- カテゴリID（送信用） -->
		            <input type="hidden"
		                   th:field="*{items[__${stat.index}__].categoryId}">

				    <!-- No -->
				    <td th:text="${item.categoryNo}"></td>
					
		            <!-- 表示名（カテゴリ名はControllerで拡張も可能） -->
					<td th:text="${item.categoryName}"></td>

		            <!-- 所要時間 -->
		            <td>
		                <input type="number"
		                       th:field="*{items[__${stat.index}__].workHours}">
		            </td>

		        </tr>

		    </table>

		    <br>
			
			<a th:href="@{/daily-log/list}" class="btn">戻る</a>
		    <button type="submit" class="btn">登録</button>

		</form>
    </div>

</body>
</html>